[
  {lager,
   [
    {colored, true},
    {async_threshold, 200},
    {async_threshold_window, 5},
    {error_logger_hwm, 500},
    {handlers, [{lager_console_backend, [debug, true]}]}
   ]
  },
  {sasl,
   [
    {sasl_error_logger, false},
    {errlog_type, error}
   ]
  },
  {gold_fever,
   [ {step1, #{ cookie => 'erlang-dojo-2015'
              , message => "Welcome to the far west, fellow!"
                           "\nNow spawn 'larry' and listen to me."
                           "\nI have something for you..."
              }}
   , {step2, #{ message => "Keep the token, now send a flower to Kathy "
                           "she will help you find that thief..."
              , unexpected => "I'm expecting flowers, my dear. "
                              "~p is not a flower -L-\n"
              }}
   , {step3, #{ message => "Oh! Nice flower, dear... I love flowers!\n"
                           "I also love maps and Larry told me you have a fancy"
                           "\ngen_server over there. Send me a map that will"
                           "\nguide me to it and don't forget to add the token"
                           "\ngiven to Larry before, that way I will be sure"
                           "\nit's really you"
              , missing => "You didn't send me the '~p' of your gen_server :("
              , badauth => "Who *are* you?!~i"
              , unexpected => "I'm expecting maps, my dear.\n"
                              "~p\nis not a map -L-\n"
              }}
   , {step4, #{ message => "Hurry up, I fear someone is watching me. "
                           "Please, please kill him!!"
              }}
   , {step5, #{ message => "You might have killed me but my people will avenge "
                           "my death. BRACE YOURSELF... YOU'LL BE EXTERMINATED!"
              , reason => "If you can read this, then Kathy is free. "
                          "Beware of her, she is not a lady: she's an FSM. "
                          "I bet you sent her flowers, try asking her about "
                          "their color a couple of times"
              }}
   , {step6, #{ answers => [red, pink, blue, white, orange]
              , message => "You've got me... I'm just a machine, but I'll "
                           "never tell you where the real 'kathy' is!! "
                           "You won't be able to call her!"
              , regexes => [<<"color">>, <<"flower">>]
              , missing => "Will you ask me a '~p'?"
              , unknown => "I don't know the answer to that. "
                           "Ask me something else"
              , badauth => "I'm not talking to you!~i"
              , unexpected => "I'm expecting maps, my dear.\n"
                              "~p\nis not a map -L-\n"
              }}
   , {step7, #{ welcome => "Aw, thanks! you found me!!"
              , again => "Hey again!"
              , message => "Now I know you're with me. But are you a real "
                           "cowboy? If so, cast me a map with your address and "
                           "your token and I'll PUT something in your pocket "
                           "to help you find the thief"
              , expired => "I'm not talking to you anymore!"
              , badauth => "Please send me your token, I need to know that "
                           "you are on my side"
              }}
   , {step8, #{ image => "priv/joe.png"
              , path => "pocket"
              , headers => #{<<"content-type">> => <<"image/png">>}
              , message => "Do you know him? Find his node! He hid his treasure"
                           " there. The treasure must be in his 'vault'"
              , missing => "I still need '~p' :)"
              , toosoon => "Too soon, my dear... don't you think you should "
                           "give me a call first?"
              , badauth => "Please send me your token, I need to know that "
                           "it is you"
              , notaurl => "I don't know how to get to that address, sorry :/"
              }}
   , {step9, #{ nodename => joe
              , attempts => 5
              , passwords => [letitcrash, "let it crash"]
              , warning => "Vault locked, enter the key"
              , rickroll => "http://ow.ly/NQkbK"
              , unlocked => "Vault unlocked, ask for contents"
              , wrongpwd => "Wrong key@, try again~i"
              , treasure => "http://ow.ly/NQmoH"
              }}
   ]
  }
].
