[
  {lager,
   [
    {colored, true},
    {async_threshold, 200},
    {async_threshold_window, 5},
    {error_logger_hwm, 500},
    {handlers, [{lager_console_backend, [debug, true]}]}
   ]
  },
  {sasl,
   [
    {sasl_error_logger, false},
    {errlog_type, error}
   ]
  }
].
